#root {
  --color: rgba(139, 69, 19, 1);
  --color2: rgb(222, 222, 222);
  --color3: #138b81;
  --color4: #8b1359;

  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("../assets/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100svh;
}

@font-face {
  font-family: "Harry P";
  src: url("../assets/font/HARRYP__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.harry-potter-font {
  font-family: "Harry P", sans-serif;
}
/* -----------------------------------GAME----------------------------------- */

.container-game-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  z-index: 0;
}

.container-game {
  width: 100%;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .h2 {
    border-radius: 20px;
    border-style: double;
  }
}
