#root {
  --color: rgba(139, 69, 19, 1);
  --color2: rgb(222, 222, 222);
  --color3: #138b81;
  --color4: #8b1359;

  width: 100%;
  height: auto;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(139, 69, 19, 1) 50%,
    rgba(4, 4, 4, 1) 100%
  );
}

@font-face {
  font-family: "Harry P";
  src: url("../assets/font/HARRYP__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.harry-potter-font {
  font-family: "Harry P", sans-serif;
}
/* -----------------------------------GAME----------------------------------- */

.container-game-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  z-index: 0;
}

.container-game {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -3.6rem;
  background-image: url("../assets/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* -----------------------------------INFO----------------------------------- */

.container-info {
  display: flex;
  justify-content: center;
  z-index: 10;
  color: var(--color);
}

/* ---------------------------------INFO DAY--------------------------------- */

.container-info-day {
  position: absolute;
  left: 12%;
  bottom: 10%;
  border: 0.2rem var(--color2) solid;
  padding: 0.5rem 2rem;
  color: var(--color2);
}

.container-info-day-h3 {
  font-size: 1rem;
  color: var(--color2);
}

.container-info-day-p {
  font-size: 0.8rem;
  color: var(--color2);
}

/* ------------------------------INFO CHARACTER------------------------------ */

.container-info-character {
  position: absolute;
  right: 12%;
  bottom: 10%;
  border: 0.2rem var(--color2) solid;
  padding: 0.5rem 2rem;
  color: var(--color2);
}

.container-info-character-h3 {
  font-size: 1rem;
  color: var(--color2);
}

.container-info-character-p {
  font-size: 0.8rem;
  color: var(--color2);
}

/* --------------------------------INFO ICONS-------------------------------- */

.container-icons {
  position: absolute;
  top: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.container-icon-i {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem;
  background-color: var(--color2);
  border-radius: 10rem;
}

.container-icon-gear {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem;
  background-color: var(--color2);
  border-radius: 10rem;
}

.container-params-info {
  color: white;
  position: absolute;
  top: 18%;
  right: 7%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  box-shadow: rgba(227, 227, 227, 0.15) 2.4px 2.4px 3.2px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
