.container-wiki {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: auto;

  .card-wiki {
    width: 90%;
    margin: 15% auto;
    padding-top: 5%;
    color: var(--color3);
    text-shadow:
      rgb(8, 8, 8) 1px 0px 0px,
      rgb(8, 8, 8) 0.540302px 0.841471px 0px,
      rgb(8, 8, 8) -0.416147px 0.909297px 0px,
      rgb(8, 8, 8) -0.989992px 0.14112px 0px,
      rgb(8, 8, 8) -0.653644px -0.756802px 0px,
      rgb(8, 8, 8) 0.283662px -0.958924px 0px,
      rgb(8, 8, 8) 0.96017px -0.279416px 0px;
    border: 1px solid var(--color3);
    background: radial-gradient(
      circle,
      rgba(139, 69, 19, 0.8) 0%,
      rgba(8, 8, 8, 0.8) 100%
    );
    box-shadow:
      rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px,
      rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      transition: 1s;
      transform: scale(1.08);
      background: radial-gradient(
        circle,
        rgba(139, 69, 19, 0.8) 0%,
        rgba(8, 8, 8, 1) 100%
      );
      box-shadow:
        rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px,
        var(--color3) 3px 3px 6px 0px inset,
        var(--color3) -3px -3px 6px 1px inset;
    }

    picture {
      width: 90%;

      img {
        display: flex;
        justify-content: center;
        width: 75%;
        height: 35vh;
        margin: -2% auto;
        margin-top: 10%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
    ul {
      width: 100%;
      margin-top: -0.5%;
      padding: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      li {
        list-style: none;
      }
    }
    h2 {
      font-size: 3vw;
    }
    h3 {
      margin-top: -3%;
      width: 98%;
      border-top: 1px solid var(--color2);
      border-bottom: 1px solid var(--color2);
      padding: 1%;
      text-align: center;
    }
  }
}
@media screen and (max-width: 900px) {
  .container-wiki {
    grid-template-columns: 1fr 1fr;
    .card-wiki {
      &:hover {
        transition: none;
        transform: none;
        box-shadow: none;
      }
      picture {
        height: auto;

        img {
          height: 15vh;
          object-fit: cover;
        }
      }
      h2 {
        font-size: 6.5vw;
      }
      h3 {
        padding-top: 1rem;
        border-bottom: none;
      }
    }
  }
}
