#root {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  background-color: rgb(2, 2, 28);
}

/* -----------------------------------NAV BAR----------------------------------- */

.container-nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(47, 17, 17);
  border: 0.2rem black solid;
}

.container-nav-ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.container-nav-li {
  list-style-type: none;
}

.container-nav-a {
  text-decoration: none;
  color: white;
}

/* -----------------------------------GAME----------------------------------- */

.container-game-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  z-index: 0;
}

.container-game {
  width: 90%;
  height: 70vh;
  border: 0.2rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: gray;
  z-index: 0;
}

.container-game-h1 {
  font-size: 3rem;
  margin-bottom: 5rem;
  font-family:
    Apple Chancery,
    cursive;
  z-index: 0;
}

.container-game-button {
  padding: 0.5rem 3rem;
  box-shadow: 0rem 0rem 0.2rem 0.1rem;
}

/* -----------------------------------INFO----------------------------------- */

.container-info {
  display: flex;
  justify-content: center;
  z-index: 10;
}

/* ---------------------------------INFO DAY--------------------------------- */

.container-info-day {
  position: absolute;
  left: 10rem;
  bottom: 5rem;
  border: 0.2rem black solid;
  padding: 0.5rem 2rem;
}

.container-info-day-h3 {
  font-size: 0.8rem;
}

.container-info-day-p {
  font-size: 0.5rem;
}

/* ------------------------------INFO CHARACTER------------------------------ */

.container-info-character {
  position: absolute;
  right: 10rem;
  bottom: 5rem;
  border: 0.2rem black solid;
  padding: 0.5rem 2rem;
}

.container-info-character-h3 {
  font-size: 0.8rem;
}

.container-info-character-p {
  font-size: 0.5rem;
}

/* --------------------------------INFO ICONS-------------------------------- */

.container-icons {
  position: absolute;
  top: 10%;
  right: 10%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.container-icon-i {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem;
  background-color: rgb(196, 196, 196);
  border-radius: 10rem;
}

.container-icon-gear {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.5rem;
  background-color: rgb(196, 196, 196);
  border-radius: 10rem;
}

.container-params-info {
  position: absolute;
  top: 10rem;
  right: 8rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
